<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>Taurus Web</display-name>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
        	classpath*:applicationContext*.xml
        	classpath*:config/spring/common/appcontext-*.xml
			classpath*:config/spring/local/appcontext-*.xml
		</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
	<context-param>
		<param-name>RESTLET_SERVER</param-name>
		<param-value>http://localhost:8192/api/</param-value>
	</context-param>
    <context-param>
        <param-name>AGENT_SERVER_PORT</param-name>   <!-- agent 的服务端口号-->
        <param-value>8278</param-value>
    </context-param>

    <context-param>
		<param-name>XSL_UPLOAD_TMP_DIR</param-name>
		<param-value>/tmp/</param-value>
	</context-param>
	<context-param>
		<param-name>ERROR_PAGE</param-name>
		<param-value>/error</param-value>
	</context-param>
	
	<!-- cat集成 -->
    <filter>
        <filter-name>cat-filter</filter-name>
        <filter-class>com.dianping.cat.servlet.CatFilter</filter-class>
    </filter>
	<filter-mapping>
        <filter-name>cat-filter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
	
	<!-- sso文档给的顺序不对，必须按下面这个顺序严格排放 -->
	<filter>
	    <filter-name>CAS Authentication Filter</filter-name>
	    <filter-class>org.jasig.cas.client.authentication.Saml11AuthenticationFilter</filter-class>
	    <!-- SSO 登录页面的lion key，不用改写 -->
	    <init-param>
	        <param-name>casServerLoginUrlLionKey</param-name>
	        <param-value>cas-server-webapp.loginUrl</param-value>
	    </init-param>
	    <!-- 此处需要改写param-value，改成接入站点uri的lion key，lion的value必须是应用的完整地址且不带子路径，例如：http://my.dper.com -->
	    <init-param>
	        <param-name>serverNameLionKey</param-name>
	        <param-value>taurus.web.serverName</param-value>
	    </init-param>
	    <!-- 实施安全策略，提升外网访问时的安全级别，没有外网访问的站点不建议打开 -->
	    <!-- <init-param>
	        <param-name>safe</param-name>
	        <param-value>false</param-value>
	    </init-param> -->
	    <!-- 免登录url，支持通配符*，多个用,分隔 -->
	    <init-param>
	        <param-name>excludeURLs</param-name>
	        <param-value>/rest/ssologout,/error</param-value>
	    </init-param>
	</filter>
	
	<filter>
	    <filter-name>CAS Validation Filter</filter-name>
	    <filter-class>org.jasig.cas.client.validation.Saml11TicketValidationFilter</filter-class>
	    <init-param>
	        <param-name>casServerUrlPrefixLionKey</param-name>
	        <param-value>cas-server-webapp.serverName</param-value>
	    </init-param>
	    <!-- 此处需要改写param-value，改成接入站点uri的lion key，lion的value必须是应用的完整地址且不带子路径，例如：http://my.dper.com -->
	    <init-param>
	        <param-name>serverNameLionKey</param-name>
	        <param-value>taurus.web.serverName</param-value>
	    </init-param>
	    <init-param>
	        <param-name>redirectAfterValidation</param-name>
	        <param-value>true</param-value>
	    </init-param>
	    <!-- 是否开启票据时间差验证，默认开启 -->
	    <init-param>
	        <param-name>validate</param-name>
	        <param-value>true</param-value>
	    </init-param>
	    <!-- 最大容忍的时间差（毫秒） -->
	    <init-param>
	        <param-name>tolerance</param-name>
	        <param-value>5000</param-value>
	    </init-param>
	</filter>
	
	<filter>
	  <filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
	  <filter-class>org.jasig.cas.client.util.HttpServletRequestWrapperFilter</filter-class>
	</filter>
	
	<filter>
	   <filter-name>CAS Single Sign Out Filter</filter-name>
	   <filter-class>org.jasig.cas.client.session.SingleSignOutFilter</filter-class>
	   <init-param>
	       <param-name>artifactParameterName</param-name>
	       <param-value>SAMLart</param-value>
	   </init-param>
	</filter>
	
	<!-- 不要修改 filter-mapping的顺序 -->
	<filter-mapping>
	  <filter-name>CAS Single Sign Out Filter</filter-name>
	  <url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
	  <filter-name>CAS Authentication Filter</filter-name>
	  <url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
	  <filter-name>CAS Validation Filter</filter-name>
	  <url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
	  <filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
	  <url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- 本机身份验证 -->
	<filter>
		<filter-name>AuthenticationFilter</filter-name>
		<filter-class>com.dp.bigdata.taurus.web.servlet.filter.AuthenticationFilter</filter-class>
		<init-param>
			<param-name>excludePage</param-name>
			<param-value>/login.do,/signin,/rest/ssologin,/rest/ssologout,/error,/static/,/js/,/css/,/files/,/img/,/lib/,/resource/</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<session-config>
		<!-- 12 hours -->
		<session-timeout>720</session-timeout>
	</session-config>


	<!-- spirng mvc 配置 -->
	<servlet>
		<servlet-name>springmvc-servlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring-mvc.xml</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>springmvc-servlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>SPRINGMVC_SERVLET_URL_PATTERN</param-name>
		<param-value>/*</param-value>
	</context-param>

</web-app>
