<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
    <bean name="placeholder" lazy-init="false" class="com.dianping.lion.client.InitializeConfig">
        <property name="propertiesPath" value="config/applicationContext.properties" />
        <property name="includeLocalProps" value="false"></property>
    </bean>
    
    <bean name="configHolder" class="com.cip.crane.scheduler.lion.ConfigHolder" init-method="init" />
</beans>


	