body {
	background: #fff;
}

.scrollup {
    opacity: 0.3;
    position: fixed;
    bottom: 100px;
    right: 50px;
    display: none;
}
.feedTool {
    position: fixed;

    top: auto;
    bottom: 20px;
    left: 20px;
}