<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
						     http://www.springframework.org/schema/context
						     http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder ignore-unresolvable="true"
                                  location="classpath*:/netty.properties"/>

    <bean id="proxy" class="com.cip.crane.common.netty.ExecutorManagerFactory" />

    <bean id="netty" class="com.cip.crane.common.netty.MscheduleExecutorManager" />

    <bean id="zookeeperConfiguration" class="com.cip.crane.common.netty.config.ZookeeperConfiguration" />

    <bean id="callbackProcessor" class="com.cip.crane.common.netty.processor.CallbackProcessor" />

    <bean id="mscheduleZookeeperManager" class="com.cip.crane.common.netty.zookeeper.MscheduleZookeeperManager" />

    <bean id="zookeeperRegistryCenter" class="com.cip.crane.common.netty.zookeeper.ZookeeperRegistryCenter" />

    <bean id="nettyClientConfig" class="com.cip.crane.common.netty.config.NettyClientConfig" />
    <bean id="nettyRemotingClient" class="com.cip.crane.common.netty.NettyRemotingClient" >
        <constructor-arg ref="nettyClientConfig" />
    </bean>

    <bean id="nettyServerConfig" class="com.cip.crane.common.netty.config.NettyServerConfig" />
    <bean id="nettyRemotingServer" class="com.cip.crane.common.netty.NettyRemotingServer" >
        <constructor-arg ref="nettyServerConfig" />
    </bean>

</beans>


